<br><br><br>
<h2 class="d-block mx-auto mt-5 educationHeading">EDUCATION</h2>
<div class="education">
    <table class="table mt-3 table-bordered">
        <thead>
            <tr class="table-secondary">
              <th scope="col">QUALIFICATION</th>
              <th scope="col">INSTITUTION</th>
              <th scope="col">BOARD</th>
              <th scope="col">YEAR</th>
              <th scope="col">STREAM</th>
              <th scope="col">SCORE</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light table-bordered">
              <th scope="row">Undergraduation</th>
              <td>VNR Vignana Jyothi Institute Of Technology</td>
              <td>Bachupally,Hyderabad</td>
              <td>2018-2022</td>
              <td>Information Technology</td>
              <td>8.2/10</td>
            </tr>
            <tr class="table-light">
              <th scope="row">Class 12</th>
              <td>Sri Chaitanya Junior Kalasala</td>
              <td>Nizampet,Hyderabad</td>
              <td>2016-2018</td>
              <td>MPC</td>
              <td>96.3%</td>
            </tr>
            <tr class="table-light">
              <th scope="row">Class 10</th>
              <td>Sri Sahiti High School</td>
              <td>Sangareddy</td>
              <td>2016</td>
              <td>SSC</td>
              <td>9.2/10</td>
            </tr>
            <tr class="table-light">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
    </table>
      
</div>


