<br><br> 
<h2 class="d-block mx-auto mt-5 certificateHeading">CERTIFICATIONS</h2><!--heading -->
<div class="certifications">
    <ul class="meals-showcase clearfix">
        <li> 
            <figure class="certificate">
                <img src="assets/pictures/courseEra.png" alt="tiffins">
            </figure>
        </li>
        <li> 
            <figure class="certificate">
                <img src="assets/pictures/hackerrank.png" alt="meals">
            </figure>
        </li>
    </ul>
    <ul class="meals-showcase clearfix">
        <li> 
            <figure class="certificate">
                <img src="assets/pictures/progate.png" alt="egg curry">
            </figure>
        </li>
        <li> 
            <figure class="certificate">
                <img src="assets/pictures/iucee.png" alt="fish">
            </figure>
        </li>
    </ul>
</div>
