<br>
<h2 class="d-block mx-auto mt-5 projectsHeading">PROJECTS</h2>
<div class="projects">
  <div class="row">
    <div class="card" style="width: 18rem;">
        <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2SZcyJbNIgeF8EdL-Ie6Pyy_Zf4OB4WDSRw&usqp=CAU -->
        <img class="card-img-top" src="assets/pictures/quiztime.png" alt="">
        <div class="card-body">
            <h5 class="card-title">QUIZ TIME</h5>
            <p class="card-text">   A Java script application where admin can upload questions and others can answer them and lastly view their score .</p>
            <a href="https://quiztimex.web.app/" class="btn btn-secondary">QUIZ TIME</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!-- https://download.cnet.com/a/img/resize/04cda220148aa8352c61f1e16e4a865cb34f6052/catalog/2017/09/08/e8d45688-e81a-47a3-8935-58f3b3cd41c6/imgingest-4790179435314880832.png?auto=webp&width=416 -->
        <img src="assets/pictures/winrace.webp" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">WIN RACE</h5>
            <p class="card-text">A simple car game developed using JavaScript, HTML5, CSS3. <br><br><br> </p>
            <a href="https://winrace-6894b.web.app/" class="btn btn-secondary">WIN RACE</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!-- https://i.pinimg.com/originals/17/17/ec/1717ecab8a8ec8d7c15fb428de76f57e.jpg -->
        <img src="assets/pictures/dicetoss.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">DICE TOSS</h5>
            <p class="card-text">A simple 2 player dice game developed using JavaScript, HTML5, CSS3.<br><br></p>
            <a href="https://dicetossg.web.app/" class="btn btn-secondary">DICE TOSS</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/pictures/portfolio.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">PORTFOLIO</h5>
            <p class="card-text">My Porfolio which is this website which is developed using Angular11 .<br><br></p>
            <a href="#home" class="btn btn-secondary">PORTFOLIO</a>
        </div>
    </div>
  </div>
      
</div>

