<br><br>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="flex-center main mt-3 ">
            <a class="tw-ic text-white mr-5 connect mt-5">
              <i class="fas fa-phone-alt fa-lg white-text mr-1 text-success"></i>
              8500216780
            </a>
            <a class="fb-ic text-white mr-5 connect mt-5 ">
                <i class="fas fa-envelope fa-lg white-text mr-1 text-danger"> </i>
                sreemounikavarshini@gmail.com
              </a>
            <a class="gplus-ic mr-5 connect mt-5 text-white">
                <i class="fas fa-map-marker fa-lg white-text mr-1 text-primary"></i>
                Hyderabad
            </a>
        </div>
        <div class="col-md-12 py-5">
            <ul class="social-links d-flex">
                <li class="list-unstyled "><a href="https://github.com/mounika-varshini"><i class="fab fa-github  white-text mr-5 text-white links"></i></a> </li>
                <li class="list-unstyled "><a href="https://www.linkedin.com/in/mounika-varshini/"><i class="fab fa-linkedin-in  white-text mr-5 text-white links"></i></a> </li>
                <li class="list-unstyled "><a href="https://leetcode.com/mounika_varshini/"><span class="iconify leetcode links mr-5 " data-icon="simple-icons:leetcode" data-inline="false" style="color: white;"></span></a> </li>
                <li class="list-unstyled "><a href="https://www.codechef.com/users/mounika_varshi"><span class="iconify codechef links mr-5" data-icon="simple-icons:codechef" data-inline="false" style="color: white;"></span></a> </li>
                <li class="list-unstyled "><a href="https://www.hackerrank.com/sreemounikavars1?hr_r=1"><i class="fab fa-hackerrank links white-text mr-5 text-white"></i></a> </li>
            </ul>
        </div>
      </div>
  
    </div>
  
  </footer>

