<br>
<div class="head">
    <h1 class="mt-5 d-block mx-auto skillsHeading" >SKILLS</h1>
    <div class="skills shadow">
    <div class="bar front expert coding" data-skill="CPP"></div>
    <div class="bar front advanced coding" data-skill="DATA STRUCTURES AND ALGORITHMS"></div>
    <div class="bar learning coding" data-skill="JAVA"></div>
    <div class="bar learning database" data-skill="MY SQL"></div>
    <div class="bar back basic stack" data-skill="ANGULAR"></div>
    <div class="bar back intermediatePlus stack" data-skill="JAVA SCRIPT"></div>
    <div class="bar back intermediate stack" data-skill="TYPE SCRIPT"></div>
    <div class="bar front advanced stack" data-skill="BOOTSTRAP"></div>
    <div class="bar front advanced stack" data-skill="CSS3"></div>
    <div class="bar front expert stack" data-skill="HTML5"></div>
</div>
    </div>


