<nav class="navbar navbar-expand-lg  sticky-top text-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">   
        <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
    </span>
    
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item ">
          <a class="nav-link"  pagescroll href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pagescroll href="#skill">SKILLS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" pagescroll href="#projects">PROJECTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" pagescroll href="#education">EDUCATION</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" pagescroll href="#certifications">CERTIFICATIONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" pagescroll href="#contact">CONTACT ME</a>
        </li>
      </ul>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->
<div id="home">
    <app-home></app-home>
</div>
 
 <div id="skill">
    <app-skills></app-skills>
 </div>
<div id="projects">  
    <app-projects></app-projects>
</div>

<div id="education">
    <app-education></app-education> 
</div>
<div id="certifications">
  <app-certifications></app-certifications> 
</div>
<div id="contact">
  <app-contact></app-contact> 
</div>


